body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2c3e50; /* background color */
    color: #ecf0f1; /* Text color */
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
  
    background-image: linear-gradient(180deg, #130574 0%, #3b2f80 100%);
    
    border-radius: 15px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
  }
  
  .top-bar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .cityInput {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius:20px; /* input border-radius */
    font-size: 16px;
  }
  
  .search-icon {
    cursor: pointer;
    background-color: #ecf0f1; /* Color for the search icon */
    padding: 10px;
    border-radius:26px; /*  border-radius */
    margin-left: 10px; /* some space between the input and the icon */
  }
  
  .weather-image {
    text-align: center;
  }
  
  .weather-image img {
    width: 100px;
    height: 100px;
  }
  
  .climate {
    font-size: 20px;
    margin-top: 10px;
  }
  
  .weather-temp {
    font-size: 36px;
    font-weight: bold;
    margin: 20px 0;
  }
  
  .weather-location {
    font-size: 24px;
  }
  
  .data-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .element {
    flex: 1;
    text-align: center;
  }
  
  .icon {
    width: 50px;
    height: 50px;
  }
  
  .data {
    margin-top: 10px;
  }
  
  .text {
    font-size: 14px;
  }
  
  /* Responsive styles for mobile display */
  @media only screen and (max-width: 600px) {
    .container {
      border-radius: 0;
    }
  }
  